<div class="main__post-share post-share">
  <span class="post-share__text">Share to:</span>
  <ul class="post-share__list">
    <li class="post-share__item">
      <a class="post-share__link" rel="noreferrer noopener" href="#" title="Share on Pinterest" data-social="pinterest" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-image="{{ site.url }}{{ page.imagehome }}">
        <svg class="post-share__icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#pinterest-ic"></use>
        </svg>
      </a>
    </li>
    <li class="post-share__item">
      <a class="post-share__link" rel="noreferrer noopener" href="#" title="Share on Twitter" data-social="twitter" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-image="{{ site.url }}{{ page.imagehome }}">
        <svg class="post-share__icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#twitter-ic"></use>
        </svg>
      </a>
    </li>
    <li class="post-share__item">
      <a class="post-share__link" rel="noreferrer noopener" href="#" title="Share on Telegram" data-social="telegram" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-image="{{ site.url }}{{ page.imagehome }}">
        <svg class="post-share__icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#telegram-ic"></use>
        </svg>
      </a>
    </li>
    <li class="post-share__item">
      <a class="post-share__link" rel="noreferrer noopener" href="#" title="Share on Whatsapp" data-social="whatsapp" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-image="{{ site.url }}{{ page.imagehome }}">
        <svg class="post-share__icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#whatsapp-ic"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>