<li class="socials__item">
  <a class="socials__link" rel="nofollow noreferrer noopener" target="_blank" href="{{ site.socials.twitter.url }}">
    <svg class="socials__icon" width="24" height="24">
      <use xlink:href="img/sprite.svg#{{ site.socials.twitter.icon }}"></use>
    </svg>
  </a>
</li>
<li class="socials__item">
  <a class="socials__link" rel="nofollow noreferrer noopener" target="_blank" href="{{ site.socials.telegram.url }}">
    <svg class="socials__icon" width="24" height="24">
      <use xlink:href="img/sprite.svg#{{ site.socials.telegram.icon }}"></use>
    </svg>
  </a>
</li>
<li class="socials__item">
  <a class="socials__link" href="{{ site.socials.email.url }}">
    <svg class="socials__icon" width="24" height="24">
      <use xlink:href="img/sprite.svg#{{ site.socials.email.icon }}"></use>
    </svg>
  </a>
</li>