<header class="main-header">
  <div class="container main-header__container">
    <div class="main-header__logo">
      <a class="logo" href="/">
        <svg class="logo__image" width="128" height="39" aria-hidden="false">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <div class="main-header__content border">
      {% include /navigation.html %}
      <div class="main-header__wrapper">
        {% include /socials.html %}
        <button class="main-header__theme-button theme-button" type="button" title="Toggle theme">
          <span class="theme-button__switch-slider theme-button__switch-slider--active"></span>
        </button>
      </div>
    </div>
  </div>
</header>