<div class="component swiper main__component slider">
  <div class="swiper-wrapper slider__wrapper">
    <a class="swiper-slide slider__link" href="#">
      <img class="slider__image" src="img/wacia-icons.jpg" width="700" height="120" alt="Wacia Icon Pack">
    </a>
    <a class="swiper-slide slider__link" href="#">
      <img class="slider__image" src="img/domka-icons.jpg" width="700" height="120" alt="Domka Icon Pack">
    </a>
    <a class="swiper-slide slider__link" href="#">
      <img class="slider__image" src="img/annabelleui-icons.jpg" width="700" height="120" alt="Annabelle Ui Icon Pack">
    </a>
    <a class="swiper-slide slider__link" href="#">
      <img class="slider__image" src="img/shimu-icons.jpg" width="700" height="120" alt="Shimu Icon Pack">
    </a>
  </div>
</div>