<ul class="share">
  <li class="share__item">
    <a class="share__link" rel="noreferrer noopener" href="#" title="Share on Pinterest" data-social="pinterest" data-title="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}" data-image="{{ site.url }}{{ post.imagehome }}">
      <svg class="share__icon" width="24" height="24">
        <use xlink:href="img/sprite.svg#pinterest-ic"></use>
      </svg>
    </a>
  </li>
  <li class="share__item">
    <a class="share__link" rel="noreferrer noopener" href="#" title="Share on Twitter" data-social="twitter" data-title="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}" data-image="{{ site.url }}{{ post.imagehome }}">
      <svg class="share__icon" width="24" height="24">
        <use xlink:href="img/sprite.svg#twitter-ic"></use>
      </svg>
    </a>
  </li>
  <li class="share__item">
    <a class="share__link" rel="noreferrer noopener" href="#" title="Share on Telegram" data-social="telegram" data-title="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}" data-image="{{ site.url }}{{ post.imagehome }}">
      <svg class="share__icon" width="24" height="24">
        <use xlink:href="img/sprite.svg#telegram-ic"></use>
      </svg>
    </a>
  </li>
  <li class="share__item">
    <a class="share__link" rel="noreferrer noopener" href="#" title="Share on Whatsapp" data-social="whatsapp" data-title="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}" data-image="{{ site.url }}{{ post.imagehome }}">
      <svg class="share__icon" width="24" height="24">
        <use xlink:href="img/sprite.svg#whatsapp-ic"></use>
      </svg>
    </a>
  </li>
</ul>