<ul class="socials">
  <li class="socials__item">
    <a class="socials__link" title="Donations" target="_blank" rel="nofollow noopener noreferrer" href="https://boosty.to/lorsalio">
      <svg class="socials__icon" width="24" height="24" aria-hidden="false">
        <use xlink:href="img/sprite.svg#boosty-ic"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" title="Me on X" target="_blank" rel="nofollow noopener noreferrer" href="https://x.com/Lorsalio">
      <svg class="socials__icon" width="24" height="24" aria-hidden="false">
        <use xlink:href="img/sprite.svg#x-ic"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" title="Send Email" href="mailto:lorsalio7@gmail.com">
      <svg class="socials__icon" width="24" height="24" aria-hidden="false">
        <use xlink:href="img/sprite.svg#email-ic"></use>
      </svg>
    </a>
  </li>
</ul>