<!DOCTYPE html>
<html class="page full-height" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Lorsalio</title>
    <base href="/">
    <meta name="google-site-verification" content="wT6OJGD2c6X-2UO215OI1_oaiD31bLkqm7y9gL2Vim8" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="Lorsalio" />
    <meta property="og:image" content="{{site.url}}{{ page.imagehome }}" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:type" content="website" />
    <meta name="twitter:site" content="@lorsalio">
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:image" content="{{site.url}}{{ page.imagehome }}" />
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% include /favicon.html %}
    <link rel="stylesheet" href="css/styles.min.css">
    {% if page.next.url %}
    {% else %}
    <style> 
      .prev-next-card--reverse {
        margin-left: auto;
      }
      @media (max-width: 510px){
        .prev-next-card--reverse {
          margin: 0 auto 20px auto;
        }
      }
    </style>
    {% endif %}
  </head>