{% include /top-404.html %}
  <body class="page__body full-height">
    <div class="wrapper">
      {% include /home-header.html %}
      <main class="main not-found">
        <div class="container not-found__container">
          <div class="border">
            <div>
              <h1 class="not-found__title">404</h1>
              <p class="not-found__description">Page not found</p>
              <a class="not-found__link" href="/">Main page</a>
            </div>
          </div>
        </div>
      </main>
      {% include /footer.html %}
    </div>
    <script src="js/script.min.js" defer></script>
  </body>
</html>