{% include /top-post.html %}
  <body>
    {% include /post-header.html %}
    <main class="main">
      <div class="container">
        <article class="main__post-card post-card border">
          <div class="post-card__image-wrapper">
            <img class="post-card__image" src="{{ page.postimage }}" width="670" height="376" alt="{{ page.title }}">
          </div>
          <div class="post-card__text-content">
            <p class="post-card__info">
              <time class="post-card__time" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                <svg class="post-card__icon" width="24" height="24">
                  <use xlink:href="img/sprite.svg#calendar-ic"></use>
                </svg>{{ page.date | date: '%d' }}.{{ page.date | date: '%m' }}.{{ page.date | date: '%Y' }}
              </time>
              <span class="post-card__tag">{{ page.tag_post }}</span>
            </p>
            <h1 class="post-card__title">{{ page.title }}</h1>
          </div>
          <div class="raw-content">
            {{ content }}
            {% if page.dropdown %}
            <div class="raw-content__dropdown">
              <div class="dropdown">
                <button class="button dropdown__button" type="button" aria-expanded="false">Select size <svg class="button__icon" width="15" height="9">
                    <use xlink:href="img/sprite.svg#dropdown-ic"></use>
                  </svg>
                </button>
                <div class="dropdown__content">
                  <div class="dropdown__section">
                    <div class="dropdown__orientation">
                      <svg class="dropdown__icon" width="40" height="40">
                        <use xlink:href="img/sprite.svg#landscape-ic"></use>
                      </svg>
                      <span>landscape</span>
                    </div>
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.landscape_3840x2160.url}}">3840x2160 <span class="dropdown__size">({{page.dropdown_links.landscape_3840x2160.size}})</span>
                        </a>
                      </li>
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.landscape_2560x1440.url}}">2560x1440 <span class="dropdown__size">({{page.dropdown_links.landscape_2560x1440.size}})</span>
                        </a>
                      </li>
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.landscape_1920x1080.url}}">1920x1080 <span class="dropdown__size">({{page.dropdown_links.landscape_1920x1080.size}})</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__section">
                    <div class="dropdown__orientation">
                      <svg class="dropdown__icon" width="40" height="40">
                        <use xlink:href="img/sprite.svg#portrait-ic"></use>
                      </svg>
                      <span>portrait</span>
                    </div>
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.portrait_3088x1440.url}}">3088x1440 <span class="dropdown__size">({{page.dropdown_links.portrait_3088x1440.size}})</span>
                        </a>
                      </li>
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.portrait_2400x1080.url}}">2400x1080 <span class="dropdown__size">({{page.dropdown_links.portrait_2400x1080.size}})</span>
                        </a>
                      </li>
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{page.dropdown_links.portrait_1650x720.url}}">1650x720 <span class="dropdown__size">({{page.dropdown_links.portrait_1650x720.size}})</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% if page.license %}
            <div class="raw-content__license license">
              <p class="license__text">Free for personal use. Not for sale. When posting material on other resources, a link to the original resource is required.</p>
            </div>
            {% endif %}
          </div>
        </article>
        {% include /big-share.html %}
        {% include /prev-next.html %}
      </div>
    </main>
    {% include /footer.html %}
    <script src="js/goodshare.min.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>